{:logging {
   :nss [
     hxgm30
     taoensso.carmine]
   :level :debug}
 :backend {
   :db {
     :plugin :redis
     :redis {
       :host "localhost"
       :port 6389}}
   :graphdb {
     :plugin :redis
     :redis {
       :host "localhost"
       :port 6379}}}}
